@include media-breakpoint-up(xs) {
    .nutrition-facts {
        background:$mdc-grey-50;
    }
    .nutrition-facts.border {
        line-height: normal;
        border:$black solid 1px !important;
        .border-bottom {
            border-bottom: $black solid 1px!important;
        }
        hr {
            margin-top: .5rem;
            margin-bottom: .5rem;
            border: 0;
            border-top: 6px solid $black;
        }

    }

    .featured-facts {
        line-height: normal;
        div span {
            display:block;
            text-transform: uppercase;
            font-size: .7rem;
            font-weight: $medium;
            letter-spacing: 0;
        }
        div span:first-child {
            font-size: 1.5rem;
            font-weight: $bold;
            text-transform: lowercase;
            letter-spacing: 0;
        }
    }

}

@include media-breakpoint-up(sm) {

    .featured-facts div span {
        letter-spacing: 1px;
    }

}

@include media-breakpoint-up(md) {

    .featured-facts {
        div span {
            font-size: .8rem;
        }
        div span:first-child {
            font-size: 2rem;
        }
    }

}