.tabs-header {
    border-top:$mdc-grey-300 solid 1px;
    border-bottom:$mdc-grey-300 solid 1px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    padding: 0;
    margin: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    border-bottom: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border-top:none;
    border-right:none;
    border-left:none;
    border-bottom: $white solid 4px;
    background: transparent;
    display: inline-block;
    position: relative;
    z-index: 0;
    margin:0 1.5em 0 0;
    padding: 0;
    border-radius:0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background: none;
    border-bottom: $primary solid 4px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
    left: 0;
    border-bottom-right-radius: 0;
    border-width: 0;
    box-shadow: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before {
    border: none;
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    font-weight: $medium;
    color: $mdc-grey-500;
    font-size:1rem;
    padding:1.25rem 0;
}