.sixteen-nine {
  @include aspect-ratio(16, 9);
}
.twenty-one-nine {
  @include aspect-ratio(21, 9);
}
.four-three {
  @include aspect-ratio(4, 3);
}
.square {
  @include aspect-ratio(1, 1);
}
.img-bg-cover {
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
.img-bg-contain {
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
}

@include media-breakpoint-up(xs) {
	.feature-image {
		height:200px;
	}
}

@include media-breakpoint-up(md) {
	.feature-image {
		height:350px;
	}
}

@include media-breakpoint-up(xl) {
	.feature-image {
		height:600px;
	}
}