.search {
	position: relative;
	label {
		display:block;
		letter-spacing: 1px;
	}
	.search-field {
		border-top:0;
		border-left:0;
		border-right:0;
		border-bottom:$black solid 1px;
		width:100%;
		font-weight: $light;
		font-size:2rem;
		padding-right:4rem;
		padding-left:1rem;
		background-color:none !important;

	}
	.search-field:focus {
		background-color:none !important;
		outline:none;
	}
	.search-field:-internal-autofill-selected {
		background-color:none !important;
	}
	.search-btn {
		position:absolute;
		right:0;
		bottom:0;
		font-size:1.5rem;
	}
}