footer * {
	color:$white;
}
footer {
	background-color:$mdc-grey-900;
	.seal {
		height:150px;
		width:150px;
		background-image:url('../images/100.svg');
		background-repeat:no-repeat;
		background-position:center;
		background-size:contain;
	}
	.social i {
		font-size:1.5rem;
	}
	a:hover, a:hover i {
		color:$mdc-blue-300;
	}
}