@include media-breakpoint-up(xs) {
	.card {
		border:$mdc-grey-200 solid 1px;
		border-radius: 5px;
		overflow: hidden;

	}
	.product-card {
		position:relative;
		box-shadow:0 0 10px rgba($black, .05);
		display: flex;
		flex-direction: row;
		a {
			position:absolute;
			top:0;
			left:0;
			height:100%;
			width:100%;
			display:block;
			z-index: 100;
		}
		.card-header {
			background:none;
			border:none;
			padding:.5rem;
			width:100px;
		}
		.card-body {
			text-align: left;
			padding:1rem;
		}
		h6 {
			font-weight: $bold;
		}
		.star-rating {
			float: none;
			font-size: .8em;
			margin-bottom:0;
			display: inline-block;
		}
		.price {
			display: block;
			.amount {
				font-weight: $medium !important;
				font-size: 1rem;
			}
			del {
				display:none;
			}
			ins {
				text-decoration: none;
			}
		}
		span.onsale {
			min-height: 0 !important;
			min-width: 0 !important;
			width: 200px;
			padding:30px 0 0 0 !important;
			font-weight: $bold !important;
			position: absolute !important;
			text-align: center !important;
			line-height: 25px !important;
			top: -15px !important;
			left: -85px !important;
			margin: 0 !important;
			text-align: center;
			border-radius: 0 !important;
			background-color: $mdc-orange-500 !important;
			color: $white !important;
			font-size: 13px !important;
			z-index: 10 !important;
			text-transform: uppercase !important;
			letter-spacing: 1px !important;
			transform: rotate(-45deg);
	  		-webkit-transform: rotate(-45deg);

		}
	}
	.product-card:hover {
		box-shadow:0 3px 15px rgba($black, .25);
	}
}

@include media-breakpoint-up(md) {
	.product-card {
		flex-direction: column;
		.card-header {
			width:100%;
		}
		.card-body {
			padding:1.25rem;
			border-top:$mdc-grey-200 solid 1px;
		}
	}
}