.nav-tabs {
	border:none;
	.nav-link {
		font-weight: $medium;
		text-transform: uppercase;
		border-left:none;
		border-right:none;
		border-top:none;
		border-bottom:solid 4px $white;
		color:$mdc-grey-500;
	}
	.nav-link.active {
		border-color:transparent;
		border-bottom:solid 4px $primary;
		color:$black;
	}
	.nav-link:hover {
		color:$primary;
	}
	.nav-link.active:hover {
		color:$black;
	}
}